body {
    background-color: rgb(232, 239, 243);
}

h1 {
    background-color: rgb(7, 27, 77);
    text-align: center;
    color: antiquewhite;
}

h2 {
    background-color: rgb(7, 27, 77);
    text-align: center;
    color: antiquewhite;
}

h3 {
    background-color: rgb(7, 27, 77);
    text-align: center;
    color: antiquewhite;
}

h4 {
    background-color: rgb(7, 27, 77);
    text-align: center;
    color: antiquewhite
}